*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#hero {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left:-10px; 
    width: 100.86%;
}

#hero p, #hero h1 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

body {
    background-color:lightgray;
    padding-left: 10px;
    padding-right: 10px;
}

header{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-left: 0;
    justify-content: space-between;
    border-bottom: 2px black solid;

    img{
        height: 4rem;
        width: auto;
    }
    nav{
        margin: auto 0;
        padding: 0 2rem;
    }
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    padding: 1rem;
    gap: 2rem;
    
}

a{
    text-decoration: none;
    color: black;
    text-justify:auto;
    white-space: nowrap;
    &:hover{
        color: grey;
        font-weight: bold;
        img{
            border: 1px lightgray solid;
        }
    }
}


main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* #introduction{
    width: 80%;
    margin: 1rem auto;
} */

#category{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
}
.category{
    padding: 1rem;
    text-align: center;
    margin: .5rem;
    /* width: 20%; */
    border: 1px grey dashed;
    border-radius: 1rem;
    img{
        width: 100%;
        height: auto;
        max-height: 250px;  
        object-fit: cover; 
    }
    flex: 1 1 250px;
    max-width: 300px; 
}