<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/cart.css">
     <script src="/js/cart.js" defer></script>
    <title>My Cart</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>My Cart</h1>
    <section id="section-cart"></section>
    <div class="purchaseCard">
        <button>Purchase</button>
        <h2 id="total"></h2>
    </div>
</body>
</html>