<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/confirm.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Order Confirmed</title>
</head>

<body>
  <%- include('partials/header') %>
  <div id="confirmation">
    <h1>Thank you for your order!</h1>
    <p>Your order has been placed successfully.</p>
    <a href="/products">Continue Shopping</a>
  </div>
</body>

</html>