<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/Icon.png">
  <title>The Bench</title>
</head>

<body>
    <section id="hero">
    <div class="hero-content">
      <h1 id="hero-text">Giving Sport fans more cash, and less trash</h1>
      <!-- <h1>We sell inexpensive Sports gear for those die-hard fans. This storefront is rendered server-sided and uses a backend database.</h1> -->
    </div>
  </section>
    <%- include('partials/header') %>

  <main>
    <!-- <section id="introduction">
      <h2>Giving Sport fans more cash, and less trash</h2>
      <p>We sell inexpensive Sports gear for those die-hard fans. This storefront is rendered server-sided and uses a backend database.</p>
    </section> -->
    <section id="category">
      <a href="#">
        <div class="category">
          <img src="/images/football.png">
          <p>Football</p>
        </div>
      </a>
      <a href="#">
        <div class="category">
          <img src="/images/basketball.png">
          <p>Basketball</p>
        </div>
      </a>
      <a href="#">
        <div class="category">
          <img src="/images/baseball.png">
          <p>Baseball</p>
        </div>
      </a>
      <a href="#">
        <div class="category">
          <img src="images/hockey.png">
          <p>Hockey</p>
        </div>
      </a>
      <a href="#">
        <div class="category">
          <img src="/images/soccer.png">
          <p>Soccer</p>
        </div>
      </a>
    </section>
  </main>
</body>

</html>