<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>The Bench</title>
</head>

<body>
  <header>
    <img src="" alt="logo">
    <h1>The Bench</h1>
    <nav>
      <ul>
        <li><a href="#">All Products</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="introduction">
      <h2>Giving Sport fans more cash, and less trash</h2>
      <p>We sell inexpensive Sports gear for those die-hard fans. This storefront is rendered server-sided and uses a backend database.</p>
    </section>
    <section id="featured">
      <img src="images/baseball_bat.jpg">
      <p class="featured-name">Baseball Bat</p>
      <p class="featured-description">32 inch c. steel-wood ball thwacker. Self-assembly required.</p>
    </section>
  </main>
</body>

</html>