<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/Icon.png">
  <title>The Bench</title>
</head>

<body>
    <section id="hero">
    <div class="hero-content">
      <h1 id="hero-text">Giving Sport fans more cash, and less trash</h1>
      <!-- <h1>We sell inexpensive Sports gear for those die-hard fans. This storefront is rendered server-sided and uses a backend database.</h1> -->
    </div>
  </section>
  <header>
    <a href="#">
      <img src="images/logo.png" alt="logo">
    </a>
    <nav>
      <ul>
        <li><a href="#">All Products</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- <section id="introduction">
      <h2>Giving Sport fans more cash, and less trash</h2>
      <p>We sell inexpensive Sports gear for those die-hard fans. This storefront is rendered server-sided and uses a backend database.</p>
    </section> -->
    <section id="category">
      <div class="type">
        <img src="/images/baseball-frontpage.jpg">
        <!-- <p>Baseball</p> -->
      </div>
      <div class="type">
        <img src="/images/football-frontpage.jpg">
        <!-- <p>Football</p> -->
      </div>
      <div class="type">
        <img src="/images/basketball-frontpage.jpg">
        <!-- <p>Basketball</p> -->
      </div>
      <div class="type">
        <img src="images/hockey-frontpage.jpg">
        <!-- <p>Hockey</p> -->
      </div>
      <div class="type">
        <img src="/images/soccer-frontpage.jpg">
        <!-- <p>Soccer</p> -->
      </div>
    </section>
  </main>
</body>

</html>