<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/products.css">
  <link rel="icon" href="images/Icon.png">
  <script src="/js/products.js" defer></script>
  <title>The Bench</title>
</head>
<body>
  <%- include('partials/header') %>
  <section id="productSection">
    <section id="filterSection">
      <h2>Filters</h2>
      <button id="filterBtn"> Apply Filters</button>
      <div id="priceContext">
        <label id="priceLabel">Price</label>
        <div id="priceRange">
          <input id='minPrice'type="number" value="0">
          <div id="priceDash"> to </div>
          <input id="maxPrice" value="10000">
        </div>

      </div>
    
    </section>
    <section id="items">
      
    </section>

  </section>
</body>



</html>